body{
    background-position: center;
    background-size: cover;
}

.heading{
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}

.heading h3{
    display: inline;
    font-size: 22px;
}

#start_button , #restart_button{
    float: right;
    border: 1px solid white;
}

.footer{
    background-color: #f5f5f5;
    line-height: 2;
    margin: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;   
}

canvas{
    border-radius: 5px;
    box-shadow: 3px 3px 3px white;
    border: 2px solid white;
}